{% extends "base.html" %}
{% load static %}

{% block main %}
<div id="API-header">
    <div id="steps-title">
        <h1>{% block title %}{% endblock title %}</h1>
        <div id="log-status">Not logged in<br/>(Anon)</div>
    </div>
    <h3>{% block subtitle %}{% endblock subtitle %}</h3>
    {% block description %}{% endblock description %}
</div>
<section class="big-container">
    <section id="steps" class="column-section">
        {% block steps %}{% endblock steps %}
    </section>

    <section id="output-column" class="column-section">
        <article id="output-box">
        <button id="clear-output-button" hidden>Clear output</button>
        <div id="placeholder-output">
            OUTPUT WILL APPEAR HERE
        </div>
        </article>
    </section>
</section>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'restaurant/setup.js' %}"></script>
    <script src="{% static 'restaurant/output.js' %}"></script>

    <script>
        function setLoggedStatus(token) {
            logStatus = document.getElementById("log-status");
            if (!token){
                logStatus.innerHTML = "Not logged in<br/><span id='log-user'>(Anon)</span>";
                return;
            }

            const headers = {};
            headers['Authorization'] = `Token ${token}`;
            fetch('/auth/users/me/', {method: 'GET', headers: headers})
            .then(response => {
                response.json().then(data => {
                    const username = data.username;
                    const isStaff = data.is_staff;
                    let innerHTML = `Logged in as<br/><span id='log-user'>${username} `;
            
                    if (isStaff) {
                        innerHTML += "(Staff)";
                    } else {
                        innerHTML += "(User)";
                    }

                    logStatus.innerHTML = innerHTML + "</span>";
                });

            })
            .catch(error => {
                console.error(error);
            });
        }
        setLoggedStatus(null);

    </script>
    
    <script src="{% static 'restaurant/forms.js' %}"></script>

    {% block formLinkScripts %}{% endblock formLinkScripts %}
{% endblock scripts %}
