{% extends "base.html" %}
{% load static %}


{% block main %}
<section class="big-container">
    <section id="steps" class="column-section">
        {% block steps %}{% endblock steps %}
    </section>

    <section id="output-column" class="column-section">
        <article id="output-box">
        <button id="clear-output-button" hidden>Clear output</button>
        <div id="placeholder-output">
            OUTPUT WILL APPEAR HERE
        </div>
        </article>
    </section>
</section>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'restaurant/setup.js' %}"></script>
    <script src="{% static 'restaurant/output.js' %}"></script>
    <script src="{% static 'restaurant/auth.js' %}"></script>    
    <script src="{% static 'restaurant/forms.js' %}"></script>

    {% block formLinkScripts %}{% endblock formLinkScripts %}
{% endblock scripts %}
