<html>
  <head>
    {% load static %}
    <title>Capstone Project</title>
    <link rel="stylesheet" href="{% static 'restaurant/style.css' %}">
  </head>
  <body>
    <header>
        <h1 style="text-align:center;">Back-end Capstone Project</h1>
        <img src="{% static 'restaurant/logo.png' %}">
    </header>
    <nav>
        {% block nav %}
        <ul>
          <li><a href='{% url "index" %}'>Home</a></li>
          <li><a href='{% url "users" %}'>Users</a></li>
          <li><a href='{% url "menu" %}'>Menu Items</a></li>
          <li><a href='{% url "bookings" %}'>Bookings</a></li>
        </ul>
        {% endblock %}
    </nav>
    <main>
        <div id="main-header">
          <div id="main-header-title">
              <h1>{% block title %}{% endblock title %}</h1>
              <div id="log-status">Not logged in<br/><span id='log-user'>(Anon)<span></div>
          </div>
          <h3>{% block subtitle %}{% endblock subtitle %}</h3>
          {% block description %}{% endblock description %}
        </div>
          {% block main %}
          {% endblock main %}
    </main>    
  </body>
  {% block scripts %}
  {% endblock scripts %}
</html>