<html>
  <head>
    {% load static %}
    <title>Capstone Project</title>
    <link rel="stylesheet" href="{% static 'restaurant/style.css' %}">
  </head>
  <body>
    <header>
        <h1 style="text-align:center;">Back-end Capstone Project</h1>
        <img src="{% static 'restaurant/logo.png' %}">
    </header>
    <nav>
        {% block nav %}
        <ul>
          <li><a href='{% url "index" %}'>Home</a></li>
          <li><a href='{% url "menu" %}'>Menu Items</a></li>
          <li><a href='{% url "bookings" %}'>Bookings</a></li>
        </ul>
        {% endblock %}
    </nav>
    <main>
        {% block main %}
        {% endblock main %}
    </main>    
  </body>
  {% block scripts %}
  {% endblock scripts %}
</html>