{% extends "api-steps.html" %}

{% block title %}Bookings API {% endblock title %}
{% block subtitle %}This page allows you to manipulate the Booking database{% endblock subtitle %}
{% block description %}
<p>There are two different endpoints: <u>/restaurant/user/reservation/tables</u> and <u>/restaurant/staff/reservation/tables</u>.</p>
<p>The first endpoint is used to allow authenticated users to check previous reservations and create new ones.<br/>
The second endpoint can only be accessed by staff members and allows full CRUD functionality on the Booking database.</p>
<p>Follow the steps to test the API functionality... Or play around with the different buttons.</p>
{% endblock description %}

{% block steps %}
{% include 'forms/login-user-form.html' %}
    {% include 'forms/user-booking-form.html' %}
    {% include 'forms/logout-form.html' %}
    {% comment %} {% include 'forms/check-unauthorized.html' %} {% endcomment %}
    {% include 'forms/login-staff-form.html' %}
    {% include 'forms/staff-booking-form.html' %}
    {% include 'forms/logout-form2.html' %}
    {% include 'forms/check-authorization.html' %}
    
{% endblock steps %}


{% block formLinkScripts %}
    <script>
        // Don't forget to link all the forms to the output
        linkFormToOutput('login-staff-form', "/auth/token/login", 'POST', FormAction.LOGIN);
        linkFormToOutput('staff-booking-list', "{% url 'staff_booking-list' %}" ,'GET', FormAction.STANDARD);
        linkFormToOutput('staff-booking-delete', "{% url 'staff_booking-detail' 0 %}" ,'DELETE', FormAction.DETAIL);
        linkFormToOutput('logout-form', "/auth/token/logout", 'POST', FormAction.LOGOUT);
        linkFormToOutput('user-booking-list', "{% url 'user_booking-list' %}" ,'GET', FormAction.STANDARD);
        linkFormToOutput('user-booking-create', "{% url 'user_booking-list' %}" ,'POST', FormAction.STANDARD);
        linkFormToOutput('user-booking-delete', "{% url 'user_booking-detail' 0 %}" ,'DELETE', FormAction.DETAIL);
        linkFormToOutput('login-user-form', "/auth/token/login", 'POST', FormAction.LOGIN);
        linkFormToOutput('logout-form2', "/auth/token/logout", 'POST', FormAction.LOGOUT);
    </script>
{% endblock formLinkScripts %}