{% extends "api-steps.html" %}

{% block title %}Bookings API {% endblock title %}
{% block subtitle %}This page allows you to manipulate the Booking database{% endblock subtitle %}
{% block description %}
<p>There are two different endpoints: <u>/restaurant/user/reservation/tables</u> and <u>/restaurant/staff/reservation/tables</u>.</p>
<p>The first endpoint is used to allow authenticated users to check previous reservations and create new ones.<br/>
The second endpoint can only be accessed by staff members and allows full CRUD functionality on the Booking database.</p>
<p>Follow the steps to test the API functionality... Or play around with the different buttons.</p>
{% endblock description %}

{% block steps %}
{% include 'forms/login-user-form.html' %}
    {% include 'forms/manage-menuitem-form.html' %}
    {% include 'forms/logout-form.html' %}
    {% include 'forms/check-unauthorized.html' %}
    {% include 'forms/login-staff-form.html' %}
    {% include 'forms/show-menuitem-form.html' %}
    {% include 'forms/check-authorization.html' %}
    
{% endblock steps %}


{% block formLinkScripts %}
    <script>
        // Don't forget to link all the forms to the output
        linkFormToOutput('login-staff-form', "/auth/token/login", 'POST', FormAction.LOGIN);
        linkFormToOutput('show-menuitem', "{% url 'show_menuitem-list' %}" ,'GET', FormAction.STANDARD);
        linkFormToOutput('logout-form', "/auth/token/logout", 'POST', FormAction.LOGOUT);
        linkFormToOutput('manage-menuitem-list', "{% url 'manage_menuitem-list' %}" ,'GET', FormAction.STANDARD);
        linkFormToOutput('manage-menuitem-create', "{% url 'manage_menuitem-list' %}" ,'POST', FormAction.STANDARD);
        linkFormToOutput('manage-menuitem-delete', "{% url 'manage_menuitem-detail' 0 %}" ,'DELETE', FormAction.DETAIL);
        linkFormToOutput('login-user-form', "/auth/token/login", 'POST', FormAction.LOGIN);
    </script>
{% endblock formLinkScripts %}