<html>
  <head>
    {% load static %}
    <title>Capstone Project</title>
    <link rel="stylesheet" href="{% static 'restaurant/style.css' %}">
  </head>
  <script src="{% static 'jquery-3.7.1.min.js' %}">
  </script>
  <body>
    <h1 style="text-align:center;">Welcome to the Little Lemon restaurant</h1>
    <img src="{% static 'restaurant/logo.png' %}">

    <section class="big-container">
      <section id="steps" class="column-section">
        <h2>Menu</h2>
        {% include 'forms/login-staff-form.html' %}
        {% include 'forms/show-menuitem-form.html' %}
        <h2>Manage menu items</h2>
        {% include 'forms/logout-form.html' %}
        {% include 'forms/manage-menuitem-form.html' %}
      </section>

      <section id="output-column" class="column-section">
        <article id="output-box">
          <button id="clear-output-button" hidden>Clear output</button>
          <div id="placeholder-output">
            OUTPUT WILL APPEAR HERE
          </div>
        </article>
      </section>
    </section>
    <script src="{% static 'restaurant/setup.js' %}"></script>
    <script src="{% static 'restaurant/forms.js' %}"></script>
    <script src="{% static 'restaurant/output.js' %}"></script>
    <script>
      // Don't forget to link all the forms to the output
      linkFormToOutput('login-form', "/auth/token/login", 'POST', FormAction.LOGIN);
      linkFormToOutput('show-menuitem', "{% url 'show_menuitem-list' %}" ,'GET', FormAction.STANDARD);
      linkFormToOutput('logout-form', "/auth/token/logout", 'POST', FormAction.LOGOUT);
      linkFormToOutput('manage-menuitem-list', "{% url 'manage_menuitem-list' %}" ,'GET', FormAction.STANDARD);
      linkFormToOutput('manage-menuitem-create', "{% url 'manage_menuitem-list' %}" ,'POST', FormAction.STANDARD);

    </script>
  </body>
</html>