{% extends "base.html" %}

{% block steps %}
<h2>Menu</h2>
{% include 'forms/login-staff-form.html' %}
{% include 'forms/show-menuitem-form.html' %}
<h2>Manage menu items</h2>
{% include 'forms/logout-form.html' %}
{% include 'forms/manage-menuitem-form.html' %}
{% endblock steps %}


{% block formLinkScripts %}
<script>
    // Don't forget to link all the forms to the output
    linkFormToOutput('login-form', "/auth/token/login", 'POST', FormAction.LOGIN);
    linkFormToOutput('show-menuitem', "{% url 'show_menuitem-list' %}" ,'GET', FormAction.STANDARD);
    linkFormToOutput('logout-form', "/auth/token/logout", 'POST', FormAction.LOGOUT);
    linkFormToOutput('manage-menuitem-list', "{% url 'manage_menuitem-list' %}" ,'GET', FormAction.STANDARD);
    linkFormToOutput('manage-menuitem-create', "{% url 'manage_menuitem-list' %}" ,'POST', FormAction.STANDARD);
    linkFormToOutput('manage-menuitem-delete', "{% url 'manage_menuitem-detail' 0 %}" ,'DELETE', FormAction.DETAIL);
</script>
{% endblock formLinkScripts %}