<article>
    <form id="login-form" action="/auth/token/login" method="post">
      {% csrf_token %}
      <div class="form-header">
        <p class="description">Login as a staff user (admin/admin)</p>
      </div>
      <div class="form-body">
        <div class="input">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" maxlength="25" required="" value="admin">

            <input type="password" class="form-control" id="password" name="password" placeholder="Password" maxlength="50" required="" value="admin">
        </div>
        <div class="button">
          <button type="submit" class="endpoint">Login</button>
        </div>
      </div>
    </form>
  </article>