
<article>
  <form id="manage-menuitem-list" action="{% url 'manage_menuitem-list' %}" method="get">
    {% csrf_token %}
    <div class="form-header">
      <p class="description">Access the 'restaurant/manage/menu-items' endpoint</p>
    </div>
    <div class="form-body">
      <div class="button">
        <button type="submit" class="endpoint">GO</button>
      </div>
    </div>
  </form>
</article>

<article>
  <form id="manage-menuitem-create" action="{% url 'manage_menuitem-list' %}" method="post">
    {% csrf_token %}
    <div class="form-header">
      <p class="description">Create new menu item via a POST request to 'restaurant/manage/menu-items'</p>
    </div>
    <div class="form-body">
      <div class="input">
        <input type="text" class="form-control" id="menuitem-title" name="title" placeholder="Title" maxlength="25" required="">
        <input type="number" class="form-control" id="menuitem-price" name="price"placeholder="Price" required="" step="0.01" min="0" max="9999.99">
        <input type="number" class="form-control" id="menuitem-inventory" name="inventory" placeholder="Inventory" required="" step="1" min="0" max="999">
    </div>
      <div class="button">
        <button type="submit" class="endpoint" id="create-menuitem-button" onclick="updateRandomMenuitem()">Create</button>
      </div>
    </div>
  </form>
</article>
<script>
  function updateRandomMenuitem(){
    const listOfMeals = ["Fresh sardines", "Breakfast Potatoes", "Egg Drop Soup", "Pumpkin Pie", "Chicken Quinoa Greek Salad", "Corned Beef and Cabbage", "Moussaka", "Vegetarian Casserole", "BBQ Pork Sloppy Joes", "Chicken Alfredo Primavera", "Smoked Haddock Kedgeree", 	"Beef Lo Mein", "Chicken Karaage", 	"Salmon Prawn Risotto", "Jerk chicken with rice & peas", "Blackberry Fool"]

    const randomTitle = listOfMeals[Math.floor(Math.random() * listOfMeals.length)];
    listOfMeals.splice(listOfMeals.indexOf(randomTitle), 1);
    var randomPrice = Math.floor(Math.random() * 15) + 5.99;
    randomPrice = randomPrice.toFixed(2)
    const randomInventory = Math.floor(Math.random() * 50);
    document.getElementById("menuitem-title").setAttribute('value', randomTitle);
    document.getElementById("menuitem-price").setAttribute('value', randomPrice);
    document.getElementById("menuitem-inventory").setAttribute('value', randomInventory);
  }
  updateRandomMenuitem();
</script>
