:root {
    --primary-dark: #232923;
    --primary-light: #e0dfc9;
    --secondary-light: #edecdc;
    --secondary-dark: #636259;
    --accent-dark: #474f47; 
}


body {
    font-family: 'Karla', sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--primary-light);
    color: var(--primary-dark);
}


h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Markazi Text', serif; */
    letter-spacing: 2px;
}

h1 {
    font-size: 4rem;
    margin-top: 0rem;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    color: var(--primary-dark);
    margin:1rem 0;
}

h3 {
    font-size: 2rem;
    color: var(--primary-dark);
    margin:1rem 0;
}

a {
    text-decoration: none;
}
nav a {
    padding: 8px;
}
p a {
    color: var(--accent-dark);
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

nav a:hover {
    border: solid;
    border-width: 4px;
    text-decoration: none;
    padding: 4px;
    border-radius: 0.2em;
}

p, ul{
    font-size: 1.25rem;;
}

p.note {
    font-weight: lighter;
    font-style: italic;
    color: var(--accent-dark);
    margin: 0.5rem 0;
}

p.note::before {
    content: "Note: ";
    font-weight: bold;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    /* Remove dot */
    list-style-type: none;
    color: var(--secondary-light);
    border: solid var(--secondary-light);
    background-color: var(--primary-dark);
    border-radius: 0.3em;
    padding: 0.5em;
    font-size: x-large;
}

nav ul li a {
    margin: 0 1em;
    color: var(--secondary-light);
}

header {
    text-align: center;
    background-color: var(--secondary-light);
    border-radius: 1em;
    padding-top: 1.5em;
}

header img {
    margin: 1em;
    display: inline-block;
}

#main-header {
    padding: 0.5em 1em;
    background-color: var(--secondary-light);
    border-radius: 1em;
}

#main-header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#log-status {
    background-color: var(--primary-dark);
    color: rgb(225, 224, 205);
    padding: 0.5em;
    border: solid rgb(225, 224, 205);
    border-radius: 0.7em;
    position: fixed;
    top: 1em;
    right: 6%;
    text-align: center;
}

#log-user {
    font-weight: bold;  
    margin-top: 0.5em;
    display: block;
}

.big-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-items: start;
}

.column-section {
    display: flex;
    gap: 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;

    /* border: solid pink; */
}

#output-column {
    position: sticky;
    top: 6em;
    height: auto;
}

article {
    flex:1;
    padding: 1em;
    background-color: var(--secondary-light);
    border-radius: 1em;
}

#output-box {
    background-color: var(--secondary-dark);
    color: var(--secondary-light);
}

form {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    justify-content: stretch;
    align-items: stretch;
    margin: 1%;
    
    /* border: solid green; */
}

code.terminal {
    font-size: 1.2em;
    background: var(--primary-dark);
    color: var(--secondary-light);
    padding: 0.3em 1em;
    border-radius: 0.2em;
}

.form-header {
    flex: 1;
    padding: 0.3em 1em;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: baseline;
}

.form-header .numbering {
    flex: 1;

    font-weight: bold;
    font-size: xx-large;
    margin-right: 0.5em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

.form-header .description {
    flex: 9;
}

.form-body {
    flex: 8;
    padding: 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -2em;
}

input.form-control{
    width: 100%;
    background-color: var(--primary-light);
}

.form-body .input{
    flex: 8 1;
    padding: 1em;
}

.form-body .input > *{
    margin: 0.3em;

    border: solid gray 1px;
    font-size: large;
    border-radius: 0.25em;
    padding: 0.3em 0.4em;
}

.form-body .button {
    flex: 2 10;
}

#placeholder-output {
    opacity: 0.2;
    font-size: xxx-large;
    text-align: center;
    font-weight: bold;
    /* margin-top: 2em; */
}

#output-box span {
    font-size: large;
}

#output-box .response {
    margin-top: 1em;
}

#output-box .status {
    font-weight: bold;
    font-size: larger;
    border: solid;
    padding: 0.15em;
}

#output-box .path {
    text-decoration: solid underline;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#output-box .status-green {
    color: rgb(118, 228, 118);
}

#output-box .status-red {
    color: rgb(252, 82, 82);
}

#output-box .status-blue {
    color: rgb(114, 114, 247);
}

.data {
    display: block;
    margin-top: 0.7em;
}


@media (max-width: 768px) {
    section {
        flex-direction: column;   
    }
  }

button{
    background-color: var(--primary-dark);
    border-radius: 0.3em;
    color: rgb(225, 224, 205);
    font-size: 18;
    width: 100%;
    padding: 0.5em 2em;
}

button:hover{
    background-color: var(--accent-dark);
}
