body {
    font-family: 'Karla', sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #e0dfc9;
    color: #232923;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Markazi Text', serif;
    letter-spacing: 2px;;
}

h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    color: #333333;
    margin:1rem 0;
}

p, ul{
    font-size: 1.25rem;;
}

.big-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.column-section {
    display: flex;
    gap: 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;

    /* border: solid pink; */
}

article {
    flex:1;
    padding: 1em;
    background-color: #edecdc;
    border-radius: 1em;
}

#output {
    background-color: #636259;
    color: #edecdc;
}

form {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    justify-content: stretch;
    align-items: stretch;
    margin: 1%;
    
    /* border: solid green; */
}

.form-header {
    flex: 1;
    padding: 0.3em 1em;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.form-header .numbering {
    flex: 1;

    font-weight: bold;
    font-size: xx-large;
    margin-right: 0.5em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

.form-header .description {
    flex: 9;
}

/* form > * {
    border: solid red;
}

form > * > * {
    border: solid blue;
} */

.form-body {
    flex: 8;
    padding: 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input.form-control{
    width: 100%;
}

.form-body .input{
    flex: 8 1;
    padding: 1em;
}

.form-body .input > *{
    margin: 0.3em;

    border: solid gray 1px;
    font-size: large;
    border-radius: 0.25em;
    padding: 0.3em 0.4em;
}

.form-body .button {
    flex: 2 10;
}

#placeholder-output {
    opacity: 0.2;
    font-size: xxx-large;
    text-align: center;
    font-weight: bold;
    margin-top: 2em;
}

#output span {
    font-size: large;
}

#output .response {
    margin-top: 1em;
}

#output .status {
    font-weight: bold;
    font-size: larger;
    border: solid;
    padding: 0.15em;
}

#output .status-green {
    color: rgb(118, 228, 118);
}

#output .status-red {
    color: rgb(252, 82, 82);
}

#output .status-blue {
    color: rgb(114, 114, 247);
}

.data {
    display: block;
    margin-top: 0.7em;
}


@media (max-width: 768px) {
    section {
        flex-direction: column;   
    }
  }

button{
    background-color: #232923;
    border-radius: 0.3em;
    color: rgb(225, 224, 205);
    font-size: 18;
    width: 100%;
    padding: 0.5em 2em;
}

button:hover{
    background-color: #41463c;
}

a {
    color: #EE9972;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
